// Colors
$dark_background_color: #374151;
$light_background_color: #e5e7eb;
$primary_button_background_color: #b91c1c;
$primary_button_hover_background_color: #981818;
$primary_card_background_color: #ffffff;

$light_text_color: #f7f7f8;
$dark_text_color: #000000;

// Fonts
@import url(https://fonts.bunny.net/css?family=nunito:400);

$font_size_small: 0.833rem;
$font_size_normal: 1rem;
$font_size_medium: 1.2rem;
$font_size_large: 1.44rem;
$font_size_xl: 2.25rem;
